.idea
.build 
.target 
/target/classes/
/target/generated-sources/
/target/generated-test-sources/
/target/maven-status/
/target/surefire-reports/
/target/test-classes/
/.allure/
/.allure/allure-2.15.0/
